*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  color: $dark-text-color

a
  text-decoration: none
  color: $dark-text-color

=wrapper-settings
  max-width: 1110px
  margin: auto
