$dark-text-color: #333333
$light-bgcolor: #F5FAFE
$button-color: #EC1F46
$hover-button-color: #C91537
$focused-button-color: #e95974  
$dark-bgcolor: #0A223D
$light-text-color: #FFFFFF
$black: #000000
$input-color: #BDBDBD
$required: #E0E0E0
