.hotel
  &-description
    display: flex
    flex-wrap: wrap
    align-items: center
  &-rate
    flex-basis: 100%
  &-name
    font-size: 24px
    line-height: 20px
    text-transform: uppercase
    margin: 4px 0 2px
  &-advt
    min-width: 70px
    height: 20px
    padding: 4px 9px
    margin-left: 14px
    margin-top: 4px
    border-radius: 3px
    font-size: 10px
    line-height: 13px
    +min-boxshadow-dark
    &-sub
      width: 70px
      height: 20px
      padding: 8px 16px
      border-radius: 4px
      font-size: 12px
      font-weight: 600
      line-height: 13px
      color: #FFFFFF
      background-color: #EC1F46
      text-transform: uppercase
  &-container
    display: flex
    align-items: center
    justify-content: space-between
    padding: 18px 0 17px
  &-slider
    width: 728px
    height: 450px
    &-item
      width: 100%
      height: 100%
      position: relative
      border-radius: 8px
      overflow: hidden
      margin: 0
      &::after
        z-index: 5
        width: 100%
        height: 100%
        top: 0
        right: 0
        left: 0
        bottom: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
        +pseudo-elements
    &-prev, &-next
      padding: 0
      background-color: transparent
      margin-top: -15px
      +slider-arrows
    &-prev
      top: 51% !important
      left: 18px
      background-image: url(../img/slider-arrow-left.svg)
    &-next
      top: 51% !important
      right: 18px
      background-image: url(../img/slider-arrow-right.svg)
  &-pic
    width: 100%
    object-fit: cover

.about-hotel
  display: flex
  flex-flow: column wrap

.button
  cursor: pointer
  background-color: $button-color
  color: $light-text-color
  +focused-form-elements
  +hover-form-elements
  +focused-buttons
  &-book-info
    width: 100%
    min-height: 45px
    border-radius: 4px
    font-weight: 600
    font-size: 14px
    line-height: 19px
    +box-shadow-light

.amenities
  font-size: 12px
  line-height: 20px

.user-ratings
  display: flex
  flex-flow: column wrap
  align-items: center
  max-width: 65px
  min-height: 45px
  border-radius: 4px
  padding: 9px 8px 6px
  +min-boxshadow-dark
  &-item
    &:first-child
      font-size: 8px
      line-height: 10px
      margin-bottom: 2px
    &:last-child
      font-size: 14px
      line-height: 18px

.book
  &-hotel
    display: flex
    justify-content: space-between
    padding-bottom: 70px
  &-info
    display: flex
    flex-direction: column
    width: 350px
    min-height: 211px
    font-family: Nunito
    font-style: normal
    font-weight: normal
    background-color: $dark-bgcolor
    border-radius: 8px
    color: $light-text-color
    padding: 29px 29px 26px 26px

.about-booking
  display: flex
  flex-direction: column
  justify-content: space-between

.swiper-container
  margin: 0

.price
  display: flex
  justify-content: space-between
  margin-bottom: 9px
  &-main
    display: flex
    flex-direction: column
    min-width: 86px
    min-height: 59px
  &-start
    font-size: 10px
    line-height: 14px
  &-cost
    font-weight: 800
    font-size: 24px
    line-height: 33px
  &-end
    font-size: 12px
    line-height: 10px
  &-conditions
    display: flex
    flex-direction: column
    min-width: 80px
    height: 40px
    justify-content: space-between
    margin-top: 4px
    &-item
      display: flex
      align-items: center
      justify-content: space-between

.guests, .rooms
  &-icon
    width: 14px
    height: 14px
  &-info
    font-size: 12px
    line-height: 16px

.quick-way
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 17px
  &-item
    .call-info
      font-weight: 600
      font-size: 18px
      line-height: 25px
      color: $light-text-color

.title
  font-weight: 600
  font-size: 18px
  line-height: 25px
  color: $light-text-color

.map
  width: 347px
  height: 213px
  &-item
    border-radius: 10px
  iframe
    width: 100%
